:root {
    --bg-color: #f0f1f7;
    --feature-color: #fff;
    --strong-text-color: #4d4d55f1;
    --light-text-color: #7d7d92;
    --feature1-color: #3e71ff;
    --feature2-color: #ff3e5e;
    --feature3-color: #3faf65;
    --feature4-color: #f5bf2c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: var(--bg-color);
}

.feature-section {
    padding: 70px 15%;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    width: 100%;
    /* height: 100vh; */
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30%;
    text-align: center;
    gap: 10px;
    margin-bottom: 80px;
}

.header-h1 {
    font-size: 2.5rem;
    color: var(--strong-text-color);
    font-weight: 100;
}

.header-h1--bold {
    font-weight: bold;
}

.header-text {
    font-weight: 200;
    font-size: 1.2rem;
    margin-top: 20px;
    color: var(--light-text-color);
    line-height: 1.4;

}

.container {
    flex-grow: 1;
    display: grid;
    justify-content: center;
    grid-template-areas: 
        "a feature1 b"
        "feature2 feature1 feature3"
        "feature2 feature4 feature3"
        "c feature4 d"
    ;
    grid-template-columns: 33% 33% 33%;
    gap: 30px;
}

.feature {
    box-shadow: 2px 3px 15px 5px #2121251f;
    padding: 30px;
    background-color: var(--feature-color);
}

#feature-1 {
    border-top: 5px solid var(--feature1-color);
    grid-area: feature1;
}

#feature-2 {
    border-top: 5px solid var(--feature2-color);
    grid-area: feature2;
}



#feature-3 {
    border-top: 5px solid var(--feature3-color);
    grid-area: feature3;
}

#feature-4 {
    border-top: 5px solid var(--feature4-color);
    grid-area: feature4;
}


/* ICONS---------------------- */
#feature-1 .feature-icon {
    color: var(--feature1-color);
}

#feature-2 .feature-icon {
    color: var(--feature2-color);
}

#feature-3 .feature-icon {
    color: var(--feature3-color);
}
#feature-4 .feature-icon {
    color: var(--feature4-color);
}




.feature-header {
    color: var(--strong-text-color);
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.feature-text {
    color: var(--light-text-color);
    line-height: 1.8;
}

.feature-icon {
    font-size: 50px;
    float: right;
    margin-top: 20px;
}





@media (max-width: 900px) {
    .feature-section {
        padding: 20px 30px;
        display: block;
        height:max-content;
    }

    .header {
        padding: 70px 0;
    }

    .container {
        display: flex;
        flex-direction: column;
    }
}